.banner__seguimiento {
  width: 100%;
  height: 750px;
  background-image: url(../imagenes/cameron-venti-I1EWTM5mFEM-unsplas.jpg);
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}